# Use graphical install
text

# Installation source (local DVD ISO)
cdrom

# Language
lang en_US.UTF-8
# Keyboard
keyboard --xlayouts='us'

# Network
network  --hostname=forest
network  --bootproto=static --device=eth0 --gateway=192.168.1.100 --ip=192.168.1.254 --nameserver=114.114.114.114 --netmask=255.255.255.0 --ipv6=auto --activate
# Timezone
timezone Asia/Shanghai --utc

# Accept EULA
eula --agreed

# Root account
rootpw --iscrypted --allow-ssh $6$rounds=100000$jrbjRk0/4UmFEGsC$d8lU/G/Tv9TmiYtF3/qxQO65UH.OVRTUCbgKwZO7b0iUDrWW3i8VnXp/iBP/d4uCbZS5WMmB5Oy732BeqVo4M1
# Security policy
firewall --disabled
selinux --disabled

#services --disabled=chronyd --enabled=sshd

# First boot
firstboot --disable

clearpart --drives=sda --all --initlabel

bootloader --location=mbr --boot-drive=sda

# /boot partition (1G)
part /boot --fstype=xfs --size=1024 --ondisk=sda

# LVM PV
part pv.01 --size=1 --grow --ondisk=sda

# VG
volgroup vg0 pv.01

# LV root (no limit)
logvol / --vgname=vg0 --name=root --fstype=xfs --size=1 --grow
# LV swap (4G)
logvol swap --vgname=vg0 --fstype=swap --name=swap --size=4096

# RPM packages
%packages
@^minimal-environment
@development
@network-server
@standard
@system-tools
%end

# kdump
%addon com_redhat_kdump --enable --reserve-mb='auto'
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

# Reboot after installation
reboot
